@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

.navIndex.navbar-light .navbar-toggler {
  filter: invert(1);
}

* {
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  max-width: 1560px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1999;
  height: 64px;
}
header .container-fluid {
  padding: 0 5rem 0 3rem;
}
header .logo, header .logoIndex {
  transform: scale(0.6);
}
header .logo {
  height: 40px;
}
header .nav-link,
header .navLinkIndex {
  font-size: 20px;
}
header .redes:hover {
  transform: scale(1.1);
}
header .navbar-light .navbar-nav .nav-link {
  color: gray;
  text-decoration: underline;
  font-weight: bolder;
}
header .navbar-light .navbar-nav .nav-link.active,
header .navbar-light .navbar-nav .nav-link:hover {
  color: black;
  text-decoration: none;
}
header .clearFloats {
  clear: both;
}

.footers {
  color: black;
  text-align: start;
  position: relative;
  left: 3%;
  background: none;
}
.footers h4 {
  font-size: 13px;
}

/* -------------- */
/* INDEX-------Css de la sección de index.html ------------- !!!*/
/* -------------- */
.navIndex {
  position: fixed;
  height: 50px;
  top: 0px;
  width: 100%;
  z-index: 2;
  padding: 2.1rem 6rem 2rem 3rem;
}
.navIndex a .logoIndex {
  height: 40px;
  cursor: default;
  filter: invert(1);
}
.navIndex div ul li .navLinkIndex {
  font-size: 20px;
  display: block;
  color: gray;
  text-decoration: underline;
  padding: 0.5rem 0.5rem;
}
.navIndex div ul li .navLinkIndex:hover {
  color: white;
  text-decoration: none;
}
.navIndex div ul li .navLinkIndex .redesIndex {
  filter: invert(1);
}
.navIndex div ul li .navLinkIndex .redesIndex:hover {
  transform: scale(1.1);
}

.h1Index {
  position: absolute;
  color: white;
  margin-left: 10px;
  z-index: 9999;
  top: 10px;
  left: 34%;
  padding-top: 5px;
  cursor: default;
}

.footerIndex {
  color: white;
  position: fixed;
  bottom: 0;
  left: 3%;
  background: none;
}
.footerIndex h4 {
  font-size: 13px;
}

/* -------------- */
/* GALERIAS123---Css de la sección galeria1.html, galeria2.html, galeria3.html */
/* -------------- */
.h1Galerias {
  position: absolute;
  color: black;
  margin-left: 10px;
  z-index: 9999;
  top: 10px;
  left: 35%;
  padding-top: 5px;
  cursor: default;
}

/* CSS GRID */
.gridG123 {
  height: auto;
  width: 90%;
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 3fr);
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  margin: 10px 20px 40px auto;
  padding: 0;
  /* CSS GALERIA MINI IMAGENES */
}
.gridG123 .galeriaSlide {
  height: 100%;
  width: 90%;
  max-width: auto;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  grid-area: 1/2/4/5;
}
.gridG123 .galeriaSlide div img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 5px 0;
  object-fit: cover;
  max-height: 519px;
}
.gridG123 .galeriaSlide div img .imagenSlide {
  height: auto;
  width: 100%;
  max-width: 700px;
  display: none;
  border: solid 1px black;
}
.gridG123 .galeriaSlide div .botonIzq {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  cursor: pointer;
  padding: 8px 16px;
}
.gridG123 .galeriaSlide div .botonDer {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  cursor: pointer;
  padding: 8px 16px;
}
.gridG123 .galeriaSlide div .botonIzq,
.gridG123 .galeriaSlide div .botonDer {
  background: transparent;
  height: 100%;
  border: none;
  color: gray;
  font-size: 30px;
}
.gridG123 .dot a img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding: auto;
  object-fit: cover;
}
.gridG123 .casilla1a {
  grid-area: 1/1/2/2;
}
.gridG123 .casilla2a {
  grid-area: 2/1/3/2;
}
.gridG123 .casilla3a {
  grid-area: 3/1/4/2;
}
.gridG123 .casilla1b {
  grid-area: 4/1/5/2;
}
.gridG123 .casilla2b {
  grid-area: 4/2/5/3;
}
.gridG123 .casilla3b {
  grid-area: 4/3/5/4;
}
.gridG123 .casilla1c {
  grid-area: 4/4/5/5;
}
.gridG123 .casilla2c {
  grid-area: 5/1/6/2;
}
.gridG123 .casilla3c {
  grid-area: 5/2/6/3;
}
.gridG123 .casilla1d {
  grid-area: 5/3/6/4;
}
.gridG123 .casilla2d {
  grid-area: 5/4/6/5;
}
.gridG123 .dot {
  height: 80%;
  width: 80%;
  max-width: 100%;
}
.gridG123 .dot:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
  box-sizing: content-box;
}
.gridG123 .dot:not(:hover) {
  transition: all 0.3s ease-in;
  filter: grayscale(1);
}

/* -------------- */
/* CONTACTO---Css de la sección contacto.html -------------------- !!! */
/* -------------- */
.flexWrapContacto .sectionContacto .containerContacto .cont1,
.flexWrapContacto .sectionContacto .containerContacto .cont2,
.flexWrapContacto .sectionContacto .containerContacto .cont3,
.flexWrapContacto .sectionContacto .containerContacto .cont4, .flexWrapContacto .articuloContacto .about {
  display: flex;
  justify-content: center;
}

.flexWrapContacto {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
}
.flexWrapContacto .articuloContacto {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}
.flexWrapContacto .articuloContacto .imagenContacto {
  border: 1px solid black;
  height: 400px;
  width: 40%;
  min-width: 350px;
  background-image: url("../img/Fotografo (2).webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.flexWrapContacto .articuloContacto .about {
  width: 60%;
  max-width: 600px;
  flex-direction: column;
  margin: 10px 0px;
}
.flexWrapContacto .articuloContacto .about h2 {
  font-size: 2.5rem;
  text-align: start;
  color: black;
  margin: 0px 30px 10px 20px;
  cursor: default;
}
.flexWrapContacto .articuloContacto .about h2 #Contact a {
  color: grey;
  text-decoration: none;
}
.flexWrapContacto .articuloContacto .about h3 {
  line-height: 1.6;
  font-size: 1.4rem;
  text-align: start;
  color: black;
}
.flexWrapContacto .sectionContacto {
  width: 100%;
  margin: 40px 20px 0 20px;
}
.flexWrapContacto .sectionContacto .últimosTrabajos {
  font-size: 2rem;
  text-align: start;
  color: grey;
  margin: 0 0 0 50px;
  cursor: default;
}
.flexWrapContacto .sectionContacto .containerContacto {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.flexWrapContacto .sectionContacto .containerContacto .cont1,
.flexWrapContacto .sectionContacto .containerContacto .cont2,
.flexWrapContacto .sectionContacto .containerContacto .cont3,
.flexWrapContacto .sectionContacto .containerContacto .cont4 {
  max-width: 100%;
  max-height: 100%;
  width: 24%;
  height: 200px;
  margin: 0 5px;
}
.flexWrapContacto .sectionContacto .containerContacto .cont1 img,
.flexWrapContacto .sectionContacto .containerContacto .cont2 img,
.flexWrapContacto .sectionContacto .containerContacto .cont3 img,
.flexWrapContacto .sectionContacto .containerContacto .cont4 img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.flexWrapContacto .sectionContacto .datos {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}
.flexWrapContacto .sectionContacto .datos h2 {
  font-size: 2rem;
  text-align: start;
  color: black;
  margin: 10px;
  cursor: default;
}
.flexWrapContacto .sectionContacto .datos h2 #About a {
  color: grey;
  text-decoration: none;
}
.flexWrapContacto .sectionContacto .datos h3 {
  font-size: 1.5rem;
  text-align: left;
  color: black;
  line-height: 1.6;
  margin-left: 20px;
  text-shadow: 1px 1px 2px white;
}
.flexWrapContacto .footerContacto {
  position: relative;
  width: 100%;
  text-align: start;
  left: 3%;
}
.flexWrapContacto .footerContacto h4 {
  font-size: 10px;
}

/* -------------- */
/* MEDIAS QUERIES-------------- */
/* -------------- */
/* 481px A 1015px -------------*/
@media only screen and (min-width: 481px) and (max-width: 1015px) {
  .gridG123 {
    grid-template-columns: repeat(3, 1.2fr);
    grid-template-rows: repeat(7, 0.4fr);
    grid-row-gap: 0%;
    grid-column-gap: 0%;
    margin: 0px auto 20px;
    padding: 0;
  }
  .gridG123 .galeriaSlide {
    width: 100%;
    grid-area: 1/1/4/4;
    padding: 0;
    max-height: 70%;
  }
  .gridG123 .dot {
    width: 90%;
    padding-left: 10px;
  }
  .gridG123 .dot:hover {
    transform: scale(1.05);
    overflow: hidden;
  }
  .gridG123 .casilla1a {
    grid-area: 4/1/5/2;
  }
  .gridG123 .casilla2a {
    grid-area: 4/2/5/3;
  }
  .gridG123 .casilla3a {
    grid-area: 4/3/5/4;
  }
  .gridG123 .casilla1b {
    grid-area: 5/1/6/2;
  }
  .gridG123 .casilla2b {
    grid-area: 5/2/6/3;
  }
  .gridG123 .casilla3b {
    grid-area: 5/3/6/4;
  }
  .gridG123 .casilla1c {
    grid-area: 6/1/7/2;
  }
  .gridG123 .casilla2c {
    grid-area: 6/2/7/3;
  }
  .gridG123 .casilla3c {
    grid-area: 6/3/7/4;
  }
  .gridG123 .casilla1d {
    grid-area: 7/1/8/2;
  }
  .gridG123 .casilla2d {
    grid-area: 7/2/8/4;
    max-height: 90%;
    width: 95%;
    overflow: hidden;
  }
  .gridG123 .casilla2d a img {
    position: absolute;
  }

  .flexWrapContacto {
    margin-left: 20px;
  }
  .flexWrapContacto .articuloContacto .imagenContacto {
    margin: 0 5px;
    width: 80%;
    min-width: 200px;
  }
  .flexWrapContacto .articuloContacto .about h3 {
    margin: 0 20px 5px 20px;
    font-size: 1.1rem;
  }
}
/* 0px A 480px ---------------------*/
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .h1Galerias {
    left: 160px;
    top: 13px;
    font-size: 20px;
  }

  .h1Index {
    left: 150px;
    top: 13px;
    font-size: 20px;
  }

  h2 {
    font-size: 1.3rem !important;
  }

  h3 {
    font-size: 1rem !important;
  }

  .navIndex div ul li .navLinkIndex,
.navbar-nav .nav-link {
    font-size: 16px;
    padding: 0.5rem 1.5rem;
  }

  .navIndex a .logoIndex {
    height: 30px;
  }

  .navbar-brand {
    margin-left: -20px;
  }

  header .logo {
    height: 30px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .togglerIndex {
    margin-right: 0px;
  }

  .gridG123 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.7fr) repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin: 0px auto 15px;
  }
  .gridG123 .galeriaSlide {
    display: flex;
    grid-area: 1/1/4/3;
    width: 100%;
    margin: 0;
    align-items: center;
    padding-bottom: 0;
  }
  .gridG123 .dot {
    width: 100%;
    height: 123px;
    margin: 0;
    padding: 0;
  }
  .gridG123 .casilla1a {
    grid-area: 4/1/5/2;
  }
  .gridG123 .casilla2a {
    grid-area: 4/2/5/3;
  }
  .gridG123 .casilla3a {
    grid-area: 5/1/6/2;
  }
  .gridG123 .casilla1b {
    grid-area: 5/2/6/3;
  }
  .gridG123 .casilla2b {
    grid-area: 6/1/7/2;
  }
  .gridG123 .casilla3b {
    grid-area: 6/2/7/3;
  }
  .gridG123 .casilla1c {
    grid-area: 7/1/8/2;
  }
  .gridG123 .casilla2c {
    grid-area: 7/2/8/3;
  }
  .gridG123 .casilla3c {
    grid-area: 8/1/9/2;
  }
  .gridG123 .casilla1d {
    grid-area: 8/2/9/3;
  }
  .gridG123 .casilla2d {
    grid-area: 9/1/10/3;
    max-height: 123px;
    overflow: hidden;
  }
  .gridG123 .casilla2d a img {
    object-position: center;
    object-fit: cover;
  }

  .flexWrapContacto {
    padding-top: 0;
  }
  .flexWrapContacto .articuloContacto {
    margin: 0;
  }
  .flexWrapContacto .articuloContacto .imagenContacto {
    height: 400px !important;
    margin: 0 5px;
    width: 80%;
    min-width: 200px;
  }
  .flexWrapContacto .articuloContacto .about {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .flexWrapContacto .articuloContacto .about h2 {
    margin: 0;
  }
  .flexWrapContacto .articuloContacto .about h3 {
    margin: 5px 15px;
  }
  .flexWrapContacto .sectionContacto {
    margin-top: 5px;
  }
  .flexWrapContacto .sectionContacto .últimosTrabajos {
    margin: 5px 0 0 0;
    text-align: center;
  }
  .flexWrapContacto .sectionContacto .datos h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  .navIndex {
    padding: 0.45rem 1.77rem 2rem 0.8rem;
  }

  header .container-fluid {
    padding: 0 1.1rem 0 0.8rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 990px) {
  .navbar-toggler {
    margin-right: 30px;
  }

  .ms-auto {
    margin-left: 2.5rem !important;
  }

  .navIndex {
    padding: 0.45rem 1.77rem 2rem 0rem;
  }

  header .container-fluid {
    padding: 0 1.1rem 0 0rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .h1Galerias {
    position: absolute;
    color: black;
    margin-left: 10px;
    z-index: 9999;
    top: 10px;
    left: 30%;
    padding-top: 5px;
  }

  .h1Index {
    position: absolute;
    color: white;
    margin-left: 10px;
    z-index: 9999;
    top: 10px;
    left: 27%;
    padding-top: 5px;
  }

  .flexWrapContacto .articuloContacto .about {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .flexWrapContacto .articuloContacto .about h2 {
    margin: 0;
  }
  .flexWrapContacto .articuloContacto .about h3 {
    margin: 5px 15px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1100px) {
  .containerIndex div .carousel-item img {
    min-height: 1024px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .h1Galerias {
    position: absolute;
    color: black;
    margin-left: 10px;
    z-index: 9999;
    top: 10px;
    left: 50%;
    padding-top: 5px;
  }

  .h1Index {
    position: absolute;
    color: white;
    margin-left: 10px;
    z-index: 9999;
    top: 10px;
    left: 50%;
    padding-top: 5px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 918px) {
  .flexWrapContacto {
    margin: 5px;
  }
  .flexWrapContacto .articuloContacto {
    margin: 0 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexWrapContacto .articuloContacto .about {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }
  .flexWrapContacto .sectionContacto {
    margin-top: 0;
  }
  .flexWrapContacto .sectionContacto .containerContacto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .flexWrapContacto .sectionContacto .containerContacto .cont1,
.flexWrapContacto .sectionContacto .containerContacto .cont2,
.flexWrapContacto .sectionContacto .containerContacto .cont3,
.flexWrapContacto .sectionContacto .containerContacto .cont4 {
    width: 45%;
    margin-top: 10px;
  }
}
.containerIndex {
  position: fixed;
  top: 0;
  padding: 0;
  z-index: 1;
}
.containerIndex .carousel-indicators {
  position: fixed;
}
.containerIndex div .carousel-item img {
  width: 100%;
  min-height: 685px;
  object-fit: cover;
  object-position: top;
}

/*# sourceMappingURL=style.css.map */
