//Slider de index.html
.containerIndex {
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 1;
    .carousel-indicators {
        position: fixed;
    }
    div .carousel-item img {
        width: 100%;
        min-height: 685px;
        object-fit: cover;
        object-position: top;
    }
    
}
